##Ignore Data of GANs
CAPTCHA_C_GAN/
CAPTCHA_C_GAN_TEST/
CAPTCHA_D_GAN/
CAPTCHA_D_GAN_TEST/
CAPTCHA_DCGAN/
CAPTCHA_DCGAN_split/
CAPTCHA_IMAGES/
CAPTCHA_IMAGES_GAN/
CAPTCHA_IMAGES_SPLIT/
DCGAN_SAMPLE/
evaluate_data/
evaluate_data_test/
images/

##ignore pth file
sam_vit_h_4b8939.pth

##ignore checkpoint
.ipynb_checkpoints/

##ignore png file
#*.png
